<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="formData" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label color="dark" >Wish: </ion-label>
        <ion-input color="medium" formControlName="item"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="dark">Description: </ion-label>
        <ion-input color="medium" formControlName="description" ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" expand="block"> {{title}}</ion-button>
  </form>
  <ion-button
  fill = "outline"
  (click) = "gotoMyWishes()"><ion-icon name="arrow-back"></ion-icon> Return</ion-button>

</ion-content>