.home {
    float: right;
    margin:1em 0;
    margin-right: 0.5em;
}
ion-button{
    margin: 0 1em;
}

.editbtn{
    margin: 0;
    margin-left: 2em;
}
.deletebtn{
    margin-right: 0;
}
.texts{
    max-width: 60%;
}
.makebtn{
    margin:1em 0;
    margin-left: 0.5em;
}

.myimg{
    width:350px;
    height:250px;
    object-fit:cover;
  }


