ion-item{
    --background: #b889df;
    --color: #fff;
    --border-radius: 10px;
    margin-top: 10px;
}

ion-button{
    --background: #3e2fca;
    --border-radius: 10px;
}

.ion-text-center{
    margin-top: 45px;
}

