ion-item{
    --background: #b889df;
    --color: #fff;
    --border-radius: 10px;
    margin-top: 8px;
}

ion-button{
    --background: #3e2fca;
    --border-radius: 10px;
    margin-top: 20px;
}

.elements{
    margin-top: 45px;
}

